*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
i{
    margin: 3px;
    padding: 3px;
}
/********************************************** Movil *************************************************/

/******************************************* Flexbox *************************************************/
/*Style Header*/
.container-head{
    display: flex;
    justify-content: center;/*Eje Y*/
    align-items: center; /*Eje X*/
    flex-flow: column wrap;
    min-width: 100%;
    height: 600px;
    font-size: 26px;
    color: rgb(255, 255, 255);
    background: url("./img/head-green.jpg") no-repeat center center/cover;
    padding: 10px;
}
/*Container-head*/
.container-head h1{
    border-bottom: 3px solid rgb(92, 184, 92);
    padding: 10px;
}
.container-head p{
    padding: 10px;
}
/************************************************NAVBAR****************************************************/
.topnav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

.topnav a {
    float: left;
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(114, 137, 218);
    color: rgb(0, 0, 0);
}

.topnav a.active {
    background-color: rgb(92, 184, 92);
    color: rgb(255, 255, 255);
}

.topnav .icon {
    display: none;
}
@media screen and (min-width: 807px){ /*Sticky Nav*/
    .content {
        padding: 16px;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky + .content {
        padding-top: 60px;
    }
}

@media screen and (max-width: 806px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 806px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
}
/************************************************ CSS GRID ************************************************/
/*********************************************Container Perfil*******************************************/
.container-prfl{
    margin: 15px;
    padding: 15px;
}
.container-prfl h2{
    text-align: center;
    margin: 10px;
    color: rgb(92, 184, 92);
}
.pDev{
    text-align: center;
    margin: 10px;
    color: rgb(114, 137, 218);
}
/*Style Perfil*/
.column-prfl{
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    text-align: center;
}
.column-prfl img{
    width: 180px;
    height: 180px;
    max-width: 100%;
    height: auto;
    border: 8px solid rgb(92, 184, 92);
    border-radius: 50%;
}
@media only screen and (min-width: 1024px){
    .container-prfl{
        margin: 40px;
        padding: 40px;
    }
    .column-prfl{
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        justify-content: space-between;
    }
    .column-prfl img{
        width: 280px;
        height: 280px;
    }
}
/****************************************Container Experiencia********************************************/
.container-edu{
    margin: 15px;
    padding: 15px;
}
.container-edu h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(114, 137, 218);
}
/*Style Experiencia*/
.column-edu{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
}
@media only screen and (min-width: 1024px){
    .container-edu{
        margin: 40px;
        padding: 40px;
    }
}
/*********************************************Container Habilidades**************************************/
.container-hab{
    margin: 15px;
    padding: 15px;
}
.container-hab h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(92, 184, 92);
}
.column-hab{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    margin: 10px;
}
.izq{
    width: 50%;
    display: inline-block;
}
.der{
    float: right;
    color: rgb(92, 184, 92);
}
.der:hover{
    transform: scale(1.15);
}
@media only screen and (min-width: 1024px){
    .container-hab{
        margin: 40px;
        padding: 40px;
    }
    .column-hab{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
    .izq{
        width: 40%;
    }
}
/*************************************************Container projects**************************************/
.container-projects{
    margin: 15px;
    padding: 15px;
}
.container-projects h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(114, 137, 218);
}
.column-projects{
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: space-around;
}
@media only screen and (min-width: 1024px){
    .container-projects{
        margin: 40px;
        padding: 40px;
    }
    .column-projects{
        grid-template-columns: repeat(4, 1fr);
    }
}
/******************************************* Flexbox *************************************************/
/*Container Footer*/
.container-footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: auto;
    background:	rgb(35, 39, 42);
    padding: 10px;
}
.style-footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.style-footer h2{
    font-size: 32px;
    letter-spacing: 8px;
}
.style-footer p{
    letter-spacing: 5px;
    font-size: 28px;
}
.style-footer a{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(114, 137, 218);
    margin: 10px;
    font-size: 22px;
}
.style-footer a:hover{
    color: rgb(114, 137, 218);
}
#btn{
    padding: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(114, 137, 218);
    border-radius: 6px;
    border: 2px solid rgb(35, 39, 42);
}
#btn:hover{
    background-color: rgb(92, 184, 92);
}
footer{
    text-align: center;
    background: rgb(114, 137, 218);
}