*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
hr{
    color: rgb(114, 137, 218);
}
/*Style Header*/
.container-head{
    width: 100%;
    height: 850px;
    font-size: 32px;
    letter-spacing: 5px;
    color: whitesmoke;
    background: url("./img/head-green.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;/*Eje Y*/
    align-items: center; /*Eje X*/
    flex-direction: column;
}
/*Container-head*/
.container-head h1{
    border-bottom: 3px solid rgb(92, 184, 92);
    padding: 10px;
}
.container-head p{
    padding: 10px;
}
/*Style Logo*/
.tag-style{
    width: 50px;
}
/*Container Navbar*/
.container-nav{
    width: 90%;
    margin: auto;
}
/*Style Navbar*/
.nav-style{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
    border-bottom: 2px solid rgb(92, 184, 92);
}
.nav-style ul{
    display: flex;
}
.nav-style ul li{
    padding: 10px;
}
.nav-style a{
    color: rgb(92, 184, 92);
}
.nav-style ul li a:hover{
    border-bottom: 2px solid rgb(92, 184, 92);
}
/*Container Perfil*/
.container-prfl{
    margin: 0px 60px;
    padding: 20px 80px;
}
.container-prfl h2{
    text-align: center;
    margin: 10px 0px;
    color: rgb(92, 184, 92);
}
.pDev{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(114, 137, 218);
}
/*Style Perfil*/
.column-prfl{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-around;
    text-align: justify;
}
.box-prfl{
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.box-prfl img{
    width: 100%;
    height: auto;
    border: 8px solid rgb(92, 184, 92);
    border-radius: 25%;
}
/*Container Experiencia*/
.container-edu{
    margin: 0px 60px;
    padding: 20px 80px;
}
.container-edu h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(114, 137, 218);
}
/*Style Experiencia*/
.column-edu{
    margin: 15px;
    display: grid;
    grid-template-columns: 350px 450px;
    justify-content: center;
    text-align: justify;
    gap: 30px;
}
/*Container Habilidades*/
.container-hab{
    margin: 0px 60px;
    padding: 20px 80px;
}
.container-hab h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(92, 184, 92);
}
.column-hab{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-around;
}
/*Container projects*/
.container-projects{
    margin: 10px 60px;
    padding: 20px 80px;
}
.container-projects h2{
    text-align: center;
    margin-bottom: 10px;
    color: rgb(114, 137, 218);
}
.column-projects{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-around;
}
/*Container Footer*/
.container-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background:	rgb(35, 39, 42);
    padding: 25px;
}
.style-footer{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.style-footer h2{
    font-size: 36px;
    letter-spacing: 8px;
}
.style-footer p{
    letter-spacing: 5px;
    font-size: 28px;
}
.style-footer a{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(114, 137, 218);
    margin: 50px;
    font-size: 28px;
}
.style-footer a:hover{
    color: rgb(114, 137, 218);
}